# Bootstrap

app/bootstrap*

# Logs

app/logs/*

# Symfony directories

vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files

app/config/parameters.ini
app/config/parameters.yml

# OS cruft

.DS_Store
.swp